/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;


:root {
  --font-size: calc(0.8em + 0.25vw);
  --font-weight: 400;
  --heading-weight: inherit;
  --line-height: 1.65;
  /* --link-color: #68f; */
  --link-color: #68f;
  --dark: #282828;
  --light: #ffffff ;
  --font-weight: 300;

  /* To pass it to rgba function, it cannot be hex form*/
  --mix-color: 148, 148, 148;
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;

    background: rgba(var(--mix-color), 0.01);
}

main a {
  /* color: #0070f3; */
  color: #68f;
  text-decoration: none;
  transition: color .4s
}

main a:hover {
  color: #949494;
}

.ty_outer_padding {
    padding: 1.5em calc(34% - 12rem);
}

@media (max-width: 40em){
    .ty_outer_padding {
        padding: 1.5em 1em;
    }
}
