/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;


:root {
  --font-size: calc(0.8em + 0.25vw);
  --font-weight: 400;
  --heading-weight: inherit;
  --line-height: 1.65;
  /* --link-color: #68f; */
  --link-color: #68f;
  --text-color-light: #000;
  --text-color-dark: #d0d0d0;
  --dark: #282828;
  --light: #ffffff ;
  --font-weight: 300;

  background-color: var(--light);
  color: var(--text-color-light);

  /* To pass it to rgba function, it cannot be hex form*/
  /* --mix-color: 148, 148, 148; */
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--dark);
    color: var(--text-color-dark);
  }
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    /* background: rgba(var(--mix-color), 0.01); */
}

a {
  /* color: #0070f3; */
  color: var(--link-color);
  text-decoration: none;
  transition: color .4s
}

a:hover {
  color: #949494;
}

code {
  padding: 0.2em 0.4em;
  background-color: rgba(33,90,160,.07);
  font-size: .85em;
  border-radius: 4px;
  vertical-align: 0.08em;
}