.name_card {
    margin: 1.5em auto;
    max-width: 45em;
    display: grid;
    grid-template-columns: 3fr 4fr;
    /* grid-template-rows: 1fr 2fr; */
    column-gap: 2em;
    row-gap: 1em;
}

.image_box {
    /* grid-column: 1 / 2; */
    grid-row: 1 / 3;
    align-self: center;
    justify-self: end;
    max-width: 15em;
}

.name_box {
    /* grid-column: 2 / 3; */
    /* grid-row: 1 / 2; */
    align-self: start;
}

.affiliation_box {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: end;
    font-size: 1.2rem;
}

/* styles for mobile */
@media (max-width: 768px){
    .name_card {
        padding: 0 1em;
        margin-bottom: 0;
        row-gap: 0em;
        column-gap: 1em;
    }
    .name_card h1 {
        font-size: 20px;
        padding: 0.5rem 0;
    }
    .affiliation_box{
        line-height: normal;
        font-size: var(--font-size);
    }
    .affiliation_box i {
        margin-bottom: 0.4rem;
    }


}
