
.navbar {
    padding: 1.5em calc(34% - 12rem);
    box-shadow: 0 0 1em rgba(40, 40, 40, .03);
    background: #2b2b2b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* content stretch?? */
}

@media (max-width: 40em){
    .navbar {
        padding: 1.5em 1em;
    }
}
